# /.quarto/
# Windows系ユーザーデータは無視
AppData/

# Quartoの出力先（たとえばdocs）以外のビルド物も無視
.Rproj.user/
*.Rhistory
*.RData
*.Rproj

# 一時ファイル系
*.log
*.tmp



# Windowsシステムファイル
NTUSER.DAT
ntuser.*
*.blf
*.regtrans-ms
ntuser.*

Documents/GitHub/

# ユーザーフォルダ
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/

# IDE系
.vscode/
.vscode-R/

# その他
.bash_history
.gitconfig
.crossnote/
.texlive2024/
/.quarto/
